pkgbase = clash.rev-bin
	pkgdesc = Continuation of Clash core project
	pkgver = 1.0.2
	pkgrel = 1
	url = https://github.com/MerlinKodo/clash-rev
	arch = i686
	arch = x86_64
	arch = arm
	arch = armv6h
	arch = armv7h
	arch = aarch64
	license = GPL3
	optdepends = clash-geoip: A GeoLite2 data created by MaxMind
	provides = clash.rev
	conflicts = clash.rev
	conflicts = clash.rev-git
	conflicts = clash
	options = !strip
	source = clash.service
	sha256sums = 8fdf29dc6d2ee076c88f63ed3224d2a669b1ce1f6de6d7f2fa1f7899d853f1f8
	source_i686 = clash.rev-bin-x86_64-1.0.2.gz::https://github.com/MerlinKodo/clash-rev/releases/download/v1.0.2/clash.rev-linux-386-v1.0.2.gz
	sha256sums_i686 = SKIP
	source_x86_64 = clash.rev-bin-x86_64-1.0.2.gz::https://github.com/MerlinKodo/clash-rev/releases/download/v1.0.2/clash.rev-linux-amd64-v1.0.2.gz
	sha256sums_x86_64 = SKIP
	source_arm = clash.rev-bin-x86_64-1.0.2.gz::https://github.com/MerlinKodo/clash-rev/releases/download/v1.0.2/clash.rev-linux-armv5-v1.0.2.gz
	sha256sums_arm = SKIP
	source_armv6h = clash.rev-bin-x86_64-1.0.2.gz::https://github.com/MerlinKodo/clash-rev/releases/download/v1.0.2/clash.rev-linux-armv6-v1.0.2.gz
	sha256sums_armv6h = SKIP
	source_armv7h = clash.rev-bin-x86_64-1.0.2.gz::https://github.com/MerlinKodo/clash-rev/releases/download/v1.0.2/clash.rev-linux-armv7-v1.0.2.gz
	sha256sums_armv7h = SKIP
	source_aarch64 = clash.rev-bin-x86_64-1.0.2.gz::https://github.com/MerlinKodo/clash-rev/releases/download/v1.0.2/clash.rev-linux-arm64-v1.0.2.gz
	sha256sums_aarch64 = SKIP

pkgname = clash.rev-bin
