pkgbase = clash.rev
	pkgdesc = Continuation of Clash core project
	pkgver = 1.0.2
	pkgrel = 1
	url = https://github.com/MerlinKodo/clash-rev
	arch = x86_64
	license = GPL3
	makedepends = git
	makedepends = go
	makedepends = cmake
	makedepends = zip
	optdepends = clash-geoip: A GeoLite2 data created by MaxMind
	conflicts = clash.rev-bin
	conflicts = clash.rev-git
	conflicts = clash
	options = !strip
	source = https://github.com/MerlinKodo/clash-rev/archive/refs/tags/v1.0.2.zip
	source = clash.service
	sha256sums = d8b8f42d312d448498e21b7d0c5cbba4142e7be72329381109c060a71a431f59
	sha256sums = 8fdf29dc6d2ee076c88f63ed3224d2a669b1ce1f6de6d7f2fa1f7899d853f1f8

pkgname = clash.rev
